@import "tailwindcss";


@theme {

  /* font family */
  --font-primary:  "Montserrat", "sans-serif";

  /* colors */
  --color-primary-1: #000335;
  --color-primary-2: #ffba00;
  

  /* screen size */
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  
}


.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: "#000335";
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}