@import "tailwindcss";


@theme {

  /* font family */
  --font-primary:  "Poppins", serif;

  /* colors */
  --color-primary-1: #68d619;
  

  /* screen size */
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  
}